awscli==1.10.14
botocore==1.4.5
colorama==0.3.3
docutils==0.12
futures==3.0.5
jmespath==0.9.0
numpy==1.10.4
pandas==0.18.0
pyasn1==0.1.9
pylambda==0.2.1
pyrnkr==0.0.9
python-dateutil==2.5.1
pytz==2016.1
Quandl==2.8.9
requests==2.20.0
rsa==4.7
s3transfer==0.0.1
six==1.10.0
